node_modules
.next
out
dist
.git
.gitignore
.env
.env.local
*.log
.DS_Store
README.md
docker-compose.yml
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
prisma/dev.db.bak-*
public/uploads/*
!public/uploads/.gitkeep
tsconfig.tsbuildinfo
.vscode
.idea
